<header class="masthead" style="background-image: url('https://storage.googleapis.com/zachary-portfolio-blog-photos/creek.jpg');">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>MERN Programming Blog and Tutorials</h1>
                    <span class="subheading">An Iterative Blog About Programming This Website with Mongoose, Express, React, and Node.js</span>
                </div>
            </div>
        </div>
    </div>
</header>