<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>theunemployednewgrad | How I Built This</title>
</head>
<header>
    <%- include('../partials/header'); %>
</header>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto text-center">
            <h1 class="align-text-center">How I Built This | Part 1: The Node.js Blog Tutorial</h1>
            <br>
            <h2>Coming Soon...</h2>
        </div>
    </div>
</div>
<%- include('../partials/body'); %>
</body>
<hr>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</html>