<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>NiiCode | Step by Step Coding</title>
</head>
<header>
    <%- include('../partials/header'); %>
</header>
<body>
<!-- MainPageResponsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4293261556960980"
     data-ad-slot="4212159249"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto text-center">
            <h1 class="align-text-center">stepbystepcoding.com | Programming Tutorials </h1>
            <br>
            <h2>Coming Soon...</h2>
        </div>
    </div>
</div>
<%- include('../partials/body'); %>
</body>
<hr>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</html>