<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <body>
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        {{ post.content }}
                    </div>
                    <div class="col-lg-8 col-md-10 mx-auto">
                    @each(postImage in post.postImages)
                        <p style="text-align: center">{{postImage.substring(postImage.lastIndexOf("/") + 1, postImage.lastIndexOf("."))}}</p>
                        <img src='{{postImage}}' style="width: 700px">
                    @endeach
                    </div>
                </div>
            </div>
        </article>
        <%- include('../partials/body'); %>
    </body>
    <hr>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</html>